/* Add these styles for better positioning of popups */
.fixed {
  position: fixed;
}

.top-5 {
  top: 5px;
}

/* .left-1/2 {
    left: 50%;
  }
   */
.transform {
  transform: translateX(-50%);
}

.p-4 {
  padding: 1rem;
}

.rounded-lg {
  border-radius: 8px;
}

.bg-red-100 {
  background-color: #fef2f2;
}

.bg-green-100 {
  background-color: #f0fdf4;
}

.bg-yellow-100 {
  background-color: #fefce8;
}

.bg-blue-100 {
  background-color: #eff6ff;
}

.z-50 {
  z-index: 50;
}
