.midPromoSlide {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.midPromoSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.midPromoSlide p {
  position: absolute;
  right: 0px;
  padding-right: 10rem;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  z-index: 1;
  opacity: 0;
  /* Add initial opacity */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: slideIn 1.5s ease-out forwards; /* Add animation */
}

/* Keyframe animation for sliding and opacity */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px); /* Slightly move up */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End in the final position */
  }
}

@media (max-width: 1024px) {
  .midPromoSlide p {
    padding-right: 3.5rem;
  }
}

@media (max-width: 768px) {
  .midPromoSlide {
    height: 150px;
  }

  .midPromoSlide p {
    font-size: 1.5rem;
  }
}
