.aboutUsPage {
  min-height: 100vh;
  /* border: 2px red solid; */
}

.aboutUs {
  /* height: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5rem 10rem;
  opacity: 0; /* Initial state: hidden */
  transform: translateY(20rem); /* Initial position: shifted down */
  transition:
    opacity 1s ease,
    transform 1s ease;
  /* border: 2px blue solid; */
}

.aboutUs.animate {
  opacity: 1; /* Become visible */
  transform: translateY(0); /* Slide to the original position */
}

.aboutUs .leftside {
  flex: 1;
  padding-right: 20px;
}

.aboutUs .leftside .AboutUs {
  font-size: 1.5rem;
  font-weight: bold;
  color: lightgreen;
  display: block;
  margin-bottom: 20px;
}

.aboutUs .leftside span {
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
}

.aboutUs .leftside p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
}

.aboutUs .rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
}

.aboutUs .rightSide img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .aboutUs {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .aboutUs {
    padding: 2rem 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .aboutUs {
    flex-direction: column;
  }

  .aboutUs .leftside {
    padding-right: 0;
  }

  .aboutUs .rightSide {
    margin-top: 20px;
  }

  .aboutUs .leftside span {
    font-size: 2rem;
  }
}
/* General animation for sliding in */
@keyframes slideFromDown {
  from {
    opacity: 0;
    transform: translateY(20rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add animation individually to elements */
.slideFromDown {
  opacity: 0;
  animation: slideFromDown 0.8s ease-in-out forwards;
}

/* Add delays for each element */
.AboutUs {
  animation-delay: 0.1s;
}

.leftside span:nth-child(2) {
  animation-delay: 0.2s;
}

.leftside p {
  animation-delay: 0.3s;
}

.rightSide img {
  animation-delay: 0.4s;
}
