.GetInTouchPage {
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f0f0, #e6e6e6);
}

.contactPage {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5rem 10rem;
  background: linear-gradient(135deg, #f0f0f0, #e6e6e6);
}
.contactPage .leftSide {
  background-size: cover;
  background-position: center;
  align-items: stretch;
  position: relative;
  border-radius: 15px 0px 0px 15px;
  width: 100%;
}

.contactPage .leftSide img {
  width: 100%;
  height: 100%;
}

.contactPage .leftSide img {
  border-radius: 15px 0px 0px 15px;
}

.contactForm {
  /* border: 2px red solid; */
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
}

.contactForm:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.contactForm .contactFormMainHeading {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.contactForm p {
  text-align: left;
  margin-bottom: 30px;
  color: #555;
  font-size: 1rem;
}

.inputRow {
  display: flex;
  justify-content: space-between;
}

.inputBox {
  position: relative;
  flex: 1;
}
.inputBox span {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  font-weight: lighter;
  height: 1.5rem;
}
.inputboxTop {
}

.inputBox:last-child {
  margin-right: 0;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.inputBox input:focus,
.inputBox textarea:focus {
  /* border-color: #ff7f00; */
  border-color: #000;
  outline: none;
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
  color: transparent; /* Hides placeholder while typing */
}

.inputBox label {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #fff;
  color: #000;

  padding: 0 5px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.inputBox input:focus + label,
.inputBox textarea:focus + label,
.inputBox input:not(:placeholder-shown) + label,
.inputBox textarea:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 0.75rem;
  color: #000;
}

.inputBox textarea {
  height: 120px;
  resize: none;
}
.GetInTouchFormSubmitButton {
  background-color: #c2fbd7;
  border-radius: 10px;
  box-shadow:
    rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px,
    rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px,
    rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0.5rem;
  width: 100%;
}

.GetInTouchFormSubmitButton:hover {
  box-shadow:
    rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px,
    rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px,
    rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
}

@media screen and (max-width: 1020px) {
  .contactPage {
    padding: 3.5rem 5rem;
  }
}
@media screen and (max-width: 768px) {
  .contactPage {
    flex-direction: column;
  }

  .contactPage .leftSide {
    width: 100%;
    height: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
  }

  .contactPage .leftSide img {
    border-radius: 15px 15px 0px 0px;
  }

  .contactForm {
    width: 100%;
    border-radius: 0px 0px 15px 15px;
  }

  .inputRow {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .contactPage {
    padding: 1rem 1rem;
  }
}
