.AddYourCommentMain {
  min-height: 100vh;
}

.add-your-comment {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem 3rem 2rem 2rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.add-your-comment h2 {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  display: block;
  text-align: left;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.form-group textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  /* padding: 0px 10px; */
}

.ajay input {
  /* border: 2px red solid; */
}

.form-group textarea {
  resize: vertical;
  /* height: 100px; */
}

.form-group input[type='file'] {
  padding: 0.2rem;
  font-size: 0.9rem;
}

.AddYourCommentsButtonMain {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow:
    rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px,
    rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px,
    rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family:
    CerebriSans-Regular,
    -apple-system,
    system-ui,
    Roboto,
    sans-serif;
  padding: 0.5rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0.5rem;
}

.AddYourCommentsButtonMain:hover {
  box-shadow:
    rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px,
    rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px,
    rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
}

/* Styling for the gender radio buttons */
.checkboxGroup {
  display: flex;

  gap: 2rem;
}

.checkboxGroup label {
  font-size: 1rem;
  color: #ff7f00;
}

.checkboxGroup input[type='radio'] {
  margin-right: 8px;
}

/* Styling for error messages */

/* Additional styling for gender field */
.checkboxGroup label[for='gender'] {
  font-weight: bold;
  color: #555;
}

.inputboxWithErrorAtAddYourComments span {
  display: block;
  text-align: left;
  /* margin-bottom: 10px; */
  color: red;
  font-size: 0.8rem;
  margin-top: -01rem;
  font-weight: lighter;
  height: 1.5rem;
  letter-spacing: 1px;
}
